<!DOCTYPE html>
<html lang="ru">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}YouPhoto{% endblock %}</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'website/css/bootstrap.min.css' %}">
      <link href="{% static 'website/css/normalize.css' %}" rel="stylesheet">
    <link href="{% static 'website/css/component.css' %}" rel="stylesheet">
      <link href="{% static 'website/style.css' %}" rel="stylesheet">
    <link href="{% static 'website/login-register.css' %}" rel="stylesheet">
    <link href="{% static 'images/favicon.ico' %}" rel="shortcut icon" type="image/png">
    <link rel="stylesheet" href="{% static 'website/highlight/styles/default.css' %}">

  </head>

<body>
  {% if request.user.is_authenticated %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="{% url 'index' %}">YouPhoto</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
              {% block navigation %}
              {% endblock %}
              <li class="nav-item">
                <a class="nav-link btn" href="{% url 'logout' %}">Выйти</a>
              </li>
          </ul>
        </div>
      </div>
    </nav>

      {% block container %}
      <div class="container">
        <div class="row">


        <div class="col-md-8">
      {% endblock %}
      {% block content_title %}
      {% endblock %}
        {% block content %}
        {% endblock %}
  {% else %}
      <meta http-equiv="refresh" content="0;URL={% url '' %}" />
   {% endif %}
  {% block containerdiv %}
  </div>
  </div>
  </div>
  {% endblock %}
    <footer class="py-5 bg-dark">
      <div class="container">
          <p class="m-0 text-center text-white">Система заказа товаров YouPhoto</p>
          <p class="m-0 text-center text-white">Copyright &copy; "Назаров Александр" 2019</p>
      </div>
    </footer>
    {% block java %}
        <script src="{% static 'website/js/jquery-3.3.1.min.js' %}"></script>
{#        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>#}
        <script src="{% static 'website/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'website/login-register.js' %}" type="text/javascript"></script>
        <script src="{% static 'website/script.js' %}" type="text/javascript"></script>
        <script src="{% static 'website/highlight/highlight.js' %}"></script>
        <script src="{% static 'website/js/jquery.maskedinput.min.js' %}" type="text/javascript"></script>
        <script>hljs.initHighlightingOnLoad();</script>
    {% endblock %}
</body>

</html>