{% extends "website/base.html" %}

{% if request.user.is_authenticated and perms.order.can_add_order %}

    {% block navigation %}
                <li class="nav-item active">
                  <a class="nav-link" href="/checkorder/{{ order.id }}">Заказ №{{ order.id }}
                    <span class="sr-only">(current)</span>
                  </a>
                </li>
                  <li class="nav-item">
                    <a class="nav-link btn" href="{% url 'manager' %}">Список заказов</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link btn" href="{% url 'staitstic' %}">Статистика</a>
                  </li>
    {% endblock %}

    {% block content_title %}
        <h1 class="my-4">
            <small>Заказ №{{ order.id }}</small>
        </h1>

    {% endblock %}

    {% block content %}
         <form method="post" action="{% url 'manager' %}">
         {% csrf_token %}
            <div class="card mb-4">
                <h2 class="card-title">Фотографии и улсуги</h2>
                {% for picture in order.pic.all %}
                    <div class="card-body">
                <img class="img-thumbnail" id="" src="{{ picture.pic.url }}"  width="600">

                    <p class="card-text">Услуга: {{ picture.service.name }}, Стоймость услуги: {{ picture.service.price }}₽</p>
                    <p class="card-text">Количество копий: {{ picture.count }}, Общая стоимость: {% widthratio picture.count 1 picture.service.price %}₽</p>
                    {% if picture.job_place %}
                        <p class="card-text">Место выполнения услуги: {{ picture.job_place.adress }}</p>
                    {% endif %}
                    <p class="card-text">Комментарий к фото:</p>
                    <p class="card-text">{{ picture.commentary }}</p>
                        <select class="custom-select d-block w-100" name="job-place-{{ picture.id }}" class="form-control" required>
                        <option value disabled selected style="display: none">Выберите место выполнения услуги</option>
                            {% for place in places%}
                                {% for service in place.services.all %}
                                    {% if service.id == picture.service.id %}
                                        <option value="{{ place.id }}">{{ place.adress }}</option>
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                        </select>
                    </div>
                {% endfor %}
            </div>
         <div class="card mb-4">
            <div class="card-body">
                <h2 class="card-title">Контактные данные</h2>
                <p class="card-text">Username: {{ order.owner.username }}</p>
                <p class="card-text">Имя: {{ order.name }}, Номер телефона: {{ order.phone }}</p>
                <p class="card-text">e-mail: {{ order.email }}</p>
                <p class="card-text">Комментарий к заказу:</p>
                <p class="card-text">{{ order.commentary }}</p>
            </div>
            <div class="card-body">
                <h2 class="card-title">Доставка</h2>
                <p class="card-text">Способ доставки: {{ order.delivery.name }}, Стоимость доставки: {{ order.delivery.price }}₽</p>
                <p class="card-text">Адрес доставки: {{ order.delivery_place }}</p>
            {% if order.subpoint_delivery %}
                <p class="card-text">Место сбора заказа: {{ order.subpoint_delivery.adress }}</p>
            {% endif %}
                        {% if order.delivery.name == "Само-вывоз" %}
                            <select class="custom-select d-block w-100" id="subpoint" name="subpoint" class="form-control">
                                <option value>...</option>
                        {% else %}
                            <select class="custom-select d-block w-100" id="subpoint" name="subpoint" class="form-control" required>
                        {% endif %}
                        <option value disabled selected style="display: none">Выберите место сбора заказа (при самовывозе необязательно)</option>
                            {% for  place in places %}
                                <option value="{{ place.id }}">{{ place.adress }}</option>
                            {% endfor %}
                        </select>
            </div>
            <div class="card-body">
                <h2 class="card-title">Состояние заказа</h2>
                <p class="card-text">{{ order.status.name }}</p>
                <p class="card-text">Стоимость: {{ order.price }}₽</p>
                        <select class="custom-select d-block w-100" id="status" name="status" class="form-control">
                        <option value disabled selected style="display: none">Выберите новый статус заказа</option>
                            {% for stats in status %}
                                <option value="{{ stats.id }}">{{ stats.name }}</option>
                            {% endfor %}
                        </select>
            </div>
         <div class="card-body">
             <input type="number" value="{{ order.id }}" name="order-id" hidden style="display: none">
             <input id="change-order" class="btn btn-success" type="submit" value="Принят изменения">
         </div>
         </div>
         </form>
    {% endblock %}

{% else %}
      <meta http-equiv="refresh" content="0;URL={% url '' %}" />
{% endif %}