<!DOCTYPE html>
<html lang="ru">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}YouPhoto{% endblock %}</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'website/css/bootstrap.min.css' %}">
      <link href="{% static 'website/css/normalize.css' %}" rel="stylesheet">
    <link href="{% static 'website/css/component.css' %}" rel="stylesheet">
      <link href="{% static 'website/style.css' %}" rel="stylesheet">
    <link href="{% static 'website/login-register.css' %}" rel="stylesheet">
    <link href="{% static 'images/favicon.ico' %}" rel="shortcut icon" type="image/png">
    <link rel="stylesheet" href="{% static 'website/highlight/styles/default.css' %}">

  </head>

  <body>

  <div class="container">
      <div class="row">
      {% block content %}
      {% endblock %}
          {% if request.user.is_authenticated %}
          {% else %}
              <div class="modal-body">
              <div class="big-login">
                            <form method="post" action="{% url 'login' %}">
                                {% csrf_token %}
                                <input id="id_username" class="form-control" type="text" placeholder="Имя пользователя" name="username" required autofocus>
                                <input id="id_password" class="form-control" type="password" placeholder="Пароль" name="password" required>

                                <input class="btn btn-default btn-login" type="submit" value="Войти">
                                <a class="btn btn-primary" data-toggle="modal" onClick="openRegisterModal(); return 0;">Зарегистрироваться</a>
                            </form>
              </div>
              </div>
          {% endif %}
      </div>
  </div>
     <div class="modal fade login" id="loginModal">
        <div class="modal-dialog login animated">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="box">
                        <div class="content">
                        <div class="form loginBox">
                            <div class="modal-header">
                                <h4 class="text-left">Войти</h4>
                            </div>
                            <form method="post" action="{% url 'login' %}">
                                {% csrf_token %}
                                <input id="id_username" class="form-control" type="text" placeholder="Имя пользователя" name="username" required autofocus>
                                <input id="id_password" class="form-control" type="password" placeholder="Пароль" name="password" required>

                                <input class="btn btn-primary btn-login" type="submit" value="Войти">
                            </form>
                        </div>
                     </div>
                    </div>
                    <div class="box">
                        <div class="content registerBox" style="display:none;">
                        <div class="form">
                            <div class="modal-header">
                                <h4 class="text-left">Зарегистрироваться</h4>
                            </div>
                            <form method="post" html="{:multipart=>true}" data-remote="true" action="{% url 'signup' %}" accept-charset="UTF-8">
                                {% csrf_token %}
                                <div class="form-group">
                                    <input id="id_username1" class="form-control" type="text" placeholder="Имя пользователя" name="username" maxlength="150" required autofocus>
                                    <div class="text-success" id="username_success"></div>
                                    <div class="text-danger" id="username_error"></div>
                                    <div class="small text-muted text-danger">Обязательное поле: длина не более 25 символов. Логин может содержать буквы, цифры и символы @/./+/-/_.</div>
                                </div>
                                <div class="form-group">
                                    <input id="id_password1" class="form-control" type="password" placeholder="Пароль" name="password1" required
                                        title="Пароль должен содержать минимум 8 символов.">
                                    <div class="text-success" id="password_success"></div>
                                    <div class="text-danger" id="password_error"></div>
                                    <div class="small text-muted">Ваш пароль должен содержать не менее 8 символов.</div>
                                </div>
                                <div class="form-group">
                                    <input id="id_password2" class="form-control" type="password" placeholder="Повторите пароль" name="password2" pattern=".{8,}" required>
                                    <div class="text-success" id="confirm_success"></div>
                                    <div class="text-danger" id="confirm_error"></div>
                                </div>
                                <input id="register_submit" class="btn btn-default btn-register" type="submit" value="Создать аккаунт" name="commit" disabled>
                            </form>
                         </div>
                        </div>
                    </div>
                </div>
          </div>
        </div>
     </div>

    <footer class="py-5 bg-dark">
      <div class="container">
          <p class="m-0 text-center text-white">Система заказа товаров YouPhoto</p>
          <p class="m-0 text-center text-white">Copyright &copy; "Назаров Александр" 2019</p>
      </div>
    </footer>
    {% block java %}
        <script src="{% static 'website/js/jquery-3.3.1.min.js' %}"></script>
{#        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>#}
        <script src="{% static 'website/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'website/login-register.js' %}" type="text/javascript"></script>
        <script src="{% static 'website/script.js' %}" type="text/javascript"></script>
        <script src="{% static 'website/highlight/highlight.js' %}"></script>
        <script src="{% static 'website/js/jquery.maskedinput.min.js' %}" type="text/javascript"></script>
        <script>hljs.initHighlightingOnLoad();</script>
    {% endblock %}
  </body>

</html>