{% extends "website/index.html" %}

{% block content %}
<div class="col-md-8">
    <h4 class="my-3">
        <small>Не удалось войти. Неверные логин/пароль, попробуйте еще раз.</small>
    </h4>
</div>
{% endblock %}