{% extends "website/base.html" %}

{% if request.user.is_authenticated and perms.order.can_add_order %}

    {% block navigation %}
                <li class="nav-item active">
                  <a class="nav-link" href="{% url 'manager' %}">Список заказов
                    <span class="sr-only">(current)</span>
                  </a>
                </li>
                  <li class="nav-item">
                    <a class="nav-link btn" href="{% url 'staitstic' %}">Статистика</a>
                  </li>
    {% endblock %}

    {% block content_title %}
        <h1 class="my-4">
            <small>Заказы</small>
        </h1>

    {% endblock %}

    {% block container %}
        <div class="container">
    {% endblock %}

    {% block content %}
        {% if orders %}
        <table class="table table-bordered">
        <thead>
        <tr>
            <th scope="col">Номер заказа</th>
            <th scope="col">Способ доставки</th>
            <th scope="col">Адрес доставки</th>
            <th scope="col">Стоимость</th>
            <th scope="col">Состояние заказа</th>
            <th scope="col">Сменить статус на...</th>
            <th scope="col">Обработка заказа</th>
        </tr>
        </thead>
        {% for order in orders %}
            <tr>
                <th scope="row">{{ order.id }}</th>
                <td>{{ order.delivery.name }}</td>
                <td>{{ order.delivery_place }}</td>
                <td>{{ order.price }}₽</td>
                <td id="status-{{ order.id }}">{{ order.status.name }}</td>
                <td>
                    {% if order.status.id != 1 %}
                    <div class="form-group col-md-4">
                        <select id="select_{{ order.id }}" class="form-control" onchange="change_status({{ order.id }})">
                            <option value disabled selected style="display: none">Выберите статус</option>
                            {% for stats in status %}
                                <option value="{{ stats.id }}">{{ stats.name }}</option>
                            {% endfor %}
                        </select>
                     </div>
                    {% else %}
                        Сначала вы должны обработать заказ
                    {% endif %}
                </td>
                <td><a class="btn btn-primary" href="/checkorder/{{ order.id }}" role="button">
                    {% if order.status.id == 1 %}
                    Обработать заказ
                    {% else %}
                    Изменить заказ
                    {% endif %}
                </a>
                </td>
            </tr>
        {% endfor %}
        </table>
        <ul class="pagination justify-content-center mb-4">
                {% if orders.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page=1">&larr;&larr;</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link disabled" href="/">&larr;&larr;</a>
                    </li>
                {% endif %}
                {% if orders.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ orders.previous_page_number }}">&larr;</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link disabled" href="/">&larr;</a>
                    </li>
                {% endif %}
            <li class="page-item disabled"><a class="page-link">{{ orders.number }}</a></li>
                {% if orders.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ orders.next_page_number }}">&rarr;</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link disabled" href="/">&rarr;</a>
                    </li>
                {% endif %}
                {% if orders.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ orders.paginator.num_pages }}">&rarr;&rarr;</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link disabled" href="/">&rarr;&rarr;</a>
                    </li>
                {% endif %}
        </ul>
        {% else %}
            <h1>Заказов нет</h1>
        {% endif %}
    {% endblock %}
    {% block containerdiv %}
        </div>
    {% endblock %}
{% else %}
      <meta http-equiv="refresh" content="0;URL={% url '' %}" />
{% endif %}