{% extends "website/base.html" %}

    {% block navigation %}
             <li class="nav-item active">
              <label class="nav-link">Оформление заказа
                <span class="sr-only">(current)</span>
              </label>
            </li>
            <li class="nav-item">
                <a class="nav-link btn" href="{% url 'user' %}">Фотографии</a>
            </li>
            <li class="nav-item">
                <a class="nav-link btn" href="{% url 'orderstatus' %}">Состояния заказов</a>
             </li>
    {% endblock %}

    {% block content_title %}
        <h1 class="my-4">
            <small>Оформление заказа</small>
        </h1>
    {% endblock %}

    {% block content %}
        <table class="table table-bordered">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Фото</th>
            <th scope="col">Услуга</th>
            <th scope="col">Количество</th>
            <th scope="col">Стоймость улуги</th>
            <th scope="col">Общая стоймость</th>
        </tr>
        </thead>
        {% for picture in pictures %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td><img src="{{ picture.pic.url }}" width="100" alt=""></td>
                <td>{{ picture.service.name }}</td>
                <td>{{ picture.count }}</td>
                <td>{{ picture.service.price }}₽</td>
                <td>{% widthratio picture.count 1 picture.service.price %}₽</td>
            </tr>
        {% endfor %}
        </table>
         <div class="card mb-4">
            <h2 class="card-title">Контактные данные и доставка</h2>
         <div class="card-body">
                <form method="post" action="{% url 'addorder' %}">
                {% csrf_token %}
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="text-name">Имя</span>
                        </div>
                        <input type="text" class="form-control" id="idname" name="username" aria-describedby="text-name" required>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="email-text">e-mail</span>
                        </div>
                        <input type="text" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" class="form-control" id="idemail" name="email" aria-describedby="email-text">
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="phone-text">номер телефона</span>
                        </div>
                        <input aria-describedby="phone-text" required class="form-control" aria-invalid="false" aria-required="true" type="text" placeholder="+7(___)___-__-__" value="" pattern="+7\([0-9]{3}\)[0-9]{3}-[0-9]{2}-[0-9]{2}" maxlength='12' name='phone' id="idphone"/>
                    </div>
                    <p>Способ доставки</p>
                    <select class="custom-select d-block w-100" id="iddelivery" name="delivery" required onchange="delivery_change('{{ price }}')">
                        <option value disabled selected style="display: none">Выберите способ доставки</option>
                        {% if deliverys %}
                            {% for delivery in deliverys %}
                                <option id="delivery_{{ delivery.id }}" value="{{ delivery.id }}" data-name="{{ delivery.name }}" data-price="{{ delivery.price }}">{{ delivery.name }}, {{ delivery.price }}₽</option>
                            {% endfor %}
                    {% endif %}
                    </select>
                <div class="input-group mb-3">
                    <select class="" id="idplace" name="place" style="display: none">
                    {% if places %}
                        {% for place in places %}
                            <option value="{{ place.id }}">{{ place.adress }}</option>
                        {% endfor %}
                    {% else %}
                        <option value="nothing">...</option>
                    {% endif %}
                    </select>
                    <input type="text" class="form-control" name="adress" id="adress" placeholder="Адрес проживания" style="display: none">
                    <input type="text" class="form-control" name="mail" id="mail" pattern="[0-9]{6}" placeholder="Почтовый индекс: XXXXXX" style="display: none">
                </div>
                    <p id="price-text">Стоймость заказа: {{ price }}₽</p>
                    <div class="form-group">
                        <label for="comment_{{ picture.id }}">Комментарий к заказу</label>
                        <textarea class="form-control" name="comment" id="idcomment" rows="3"></textarea>
                    </div>
                    <input id="orderbutton" class="btn btn-success" type="submit" value="Заказать">
                </form>
         </div>
         </div>
    {% endblock %}