{% extends "website/base.html" %}

    {% block navigation %}
            <li class="nav-item">
                <a class="nav-link btn" href="{% url 'user' %}">Фотографии</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'orderstatus' %}">Состояния заказов
                <span class="sr-only">(current)</span>
              </a>
            </li>
    {% endblock %}

    {% block content_title %}
        <h1 class="my-4">
            <small>Статусы заказов</small>
        </h1>
    {% endblock %}

    {% block content %}
        {% if orders %}
        <table class="table table-bordered">
        <thead>
        <tr>
            <th scope="col">Номер заказа</th>
            <th scope="col">Состояние</th>
            <th scope="col">Способ доставки</th>
            <th scope="col">Адрес доставки</th>
            <th scope="col">Стоимость</th>
            <th scope="col">Дополнительная информация</th>
        </tr>
        </thead>
        {% for order in orders %}
            <tr>
                <th scope="row">{{ order.id }}</th>
                <td>{{ order.status.name }}</td>
                <td>{{ order.delivery.name }}</td>
                <td>{{ order.delivery_place }}</td>
                <td>{{ order.price }}₽</td>
                <td><button onclick="more({{ order.id }})" type="button" class="btn btn-light">подробнее</button></td>
            </tr>
        {% endfor %}
        </table>
        <ul class="pagination justify-content-center mb-4">
                {% if orders.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ orders.previous_page_number }}">&larr;</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link disabled" href="/">&larr;</a>
                    </li>
                {% endif %}
            <li class="page-item disabled"><a class="page-link">{{ orders.number }}</a></li>
                {% if orders.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ orders.next_page_number }}">&rarr;</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link disabled" href="/">&rarr;</a>
                    </li>
                {% endif %}
        </ul>
        <div id="more">

        </div>
        {% else %}
            <h1>Заказов нет</h1>
        {% endif %}
    {% endblock %}