{% extends "website/index.html" %}

{% block content %}
<div class="col-md-8">
    <h4 class="my-3">
        <small>Вы успешно зарегистрировались! Теперь вы можете войти, используя логин и пароль.</small>
    </h4>
</div>
{% endblock %}