{% extends "website/base.html" %}

{% if request.user.is_authenticated and perms.order.can_add_order %}

    {% block navigation %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'manager' %}">Список заказов
                  </a>
                </li>
                  <li class="nav-item active">
                    <a class="nav-link btn" href="{% url 'staitstic' %}">Статистика</a>
                      <span class="sr-only">(current)</span>
                  </li>
    {% endblock %}

    {% block content_title %}
        <h1 class="my-4">
            <small>Статистика</small>
        </h1>
    {% endblock %}
    {% block content %}
        <div class="card mb-4">
                <h4>Общее количество заказов: {{ orders_count }}</h4>
                <h4>Стоимость выполненных заказов: {{ orders_sum_cash }}₽</h4>
                <h4>Стоимость отмененных заказов: {{ orders_fail_cash }}₽</h4>
                <h4>Стоимость невыполненных заказов: {{ orders_future_cash }}₽</h4>
                <h4>Количество выполненных заказов: {{ order_success }}</h4>
                <h4>Количество отмененных заказов: {{ order_fails }}</h4>
                <h4>Количество не выполненных заказов: {{ order_starts }}</h4>
                <h4>Количество остальных заказов: {{ other_orders }}</h4>
    </div>
    {% endblock %}
{% else %}
      <meta http-equiv="refresh" content="0;URL={% url '' %}" />
{% endif %}