{% extends "website/base.html" %}

    {% block navigation %}
             <li class="nav-item active">
              <a class="nav-link" href="{% url 'user' %}">Фотографии
                <span class="sr-only">(current)</span>
              </a>
            </li>
              <li class="nav-item">
                <a class="nav-link btn" href="{% url 'orderstatus' %}">Состояния заказов</a>
              </li>
    {% endblock %}

    {% block content_title %}
        <h1 class="my-4">
            <small>Фотографии</small>
        </h1>
    {% endblock %}

    {% block content %}
         <div class="card mb-4">
                 <h2 class="card-title">Загруженные фотографии</h2>
                 <form method="post" action="{% url 'neworder' %}">
                 {% csrf_token %}
                    {% if pictures %}
                        {% for picture in pictures %}
                            <div class="card-body">
                            <img class="img-thumbnail" id="" src="{{ picture.pic.url }}"  width="600">
                                <p>Услуга</p>
                                <select class="custom-select d-block w-100" id="idselect_{{ picture.id }}" name="select_{{ picture.id }}" required>
                                    {% if services %}
                                        {% for service in services %}
                                            <option value="{{ service.id }}">{{ service.name }}, {{ service.price }}₽</option>
                                        {% endfor %}
                                    {% else %}
                                        <option value="">...</option>
                                    {% endif %}
                                </select>
                                <label id="count_label_{{ picture.id }}" for="idcount_{{ picture.id }}">Количество копий: 1</label>
                                <input type="range" class="custom-range" value="1" min="1" max="50" step="1" name="count_{{ picture.id }}" id="idcount_{{ picture.id }}" onchange="$('#count_label_{{ picture.id }}').html('Количество копий: ' + $('#idcount_{{ picture.id }}').val())">
                                  <div class="form-group">
                                      <label for="comment_{{ picture.id }}">Комментарий к фото</label>
                                      <textarea class="form-control" name="comment_{{ picture.id }}" id="idcomment_{{ picture.id }}" rows="3"></textarea>
                                  </div>
                            <a href="{% url 'delete_image' picture.id %}" class="btn btn-danger my-2">Удалить фотографию</a>
                            </div>
                        {% endfor %}
                        <div class="card-body">
                        <input id="order_button" class="btn btn-primary" type="submit" value="Оформить заказ">
                        </div>
                     {% else %}
                       <h1>Фотографий нет</h1>
                     {% endif %}
                 </form>
                        <div class="card-body">
                            <h2 class="card-title">Загрузка фотографии</h2>
                            <img class="img-thumbnail" src="http://placehold.it/100x100" alt="image" id="downloaded_image" hidden width="600">
                            <form method="post" enctype="multipart/form-data" action="{% url 'user' %}">
                                {% csrf_token %}
                                <div class="box" id="download-box">
                                    <div class="custom-file">
                                    <input class="custom-file-input" type="file" name="image" id="id_image" class="inputfile inputfile-6"
                                           accept="image/jpeg, image/png" hidden/>
                                    <label class="custom-file-label" for="id_image">Выберите фотографию</label>
                                </div>
                                </div>
                                <input id="download_image" class="btn btn-primary" type="submit" value="Загрузить" disabled>
                            </form>
                        </div>
         </div>
    {% endblock %}