<h1 class="my-4">
    <small>Подробная информация о заказе</small>
</h1>

<div class="card mb-4">
    <div class="card-body">
        <h2 class="card-title">Фотографии и улсуги</h2>
        {% for picture in order.pic.all %}
        <img class="img-thumbnail" id="" src="{{ picture.pic.url }}"  width="600">
            <p class="card-text">Услуга: {{ picture.service.name }}, Стоймость услуги: {{ picture.service.price }}₽</p>
            <p class="card-text">Количество копий: {{ picture.count }}, Общая стоймость: {% widthratio picture.count 1 picture.service.price %}₽</p>
            <p class="card-text">Комментарий к фото:</p>
            <p class="card-text">{{ picture.commentary }}</p>
        {% endfor %}
    </div>
    <div class="card-body">
        <h2 class="card-title">Контактные данные</h2>
        <p class="card-text">Имя: {{ order.name }}, Номер телефона: {{ order.phone }}</p>
        <p class="card-text">e-mail: {{ order.email }}</p>
        <p class="card-text">Комментарий к заказу:</p>
        <p class="card-text">{{ order.commentary }}</p>
    </div>
    <div class="card-body">
        <h2 class="card-title">Доставка</h2>
        <p class="card-text">Способ доставки: {{ order.delivery.name }}, Стоимость доставки: {{ order.delivery.price }}₽</p>
        <p class="card-text">Адрес доставки: {{ order.delivery_place }}</p>
    </div>
    <div class="card-body">
        <h2 class="card-title">Состояние заказа</h2>
        <p class="card-text">{{ order.status.name }}</p>
        <p class="card-text">Стоимость: {{ order.price }}₽</p>
    </div>
</div>